mixin nav(name, id, style)
    - var style = (typeof style === 'undefined') ? "expand-lg navbar-inverse bg-dark" : style
    nav( role="navigation", class=["navbar", "navbar-" + style] )
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#sport_nav_dropdown_menu', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          i.fas.fa-caret-down(style="color:white;")
        a.navbar-brand(href="/")= name
        .collapse.navbar-collapse(id=id)
            block
 
mixin nav_item(href, active)
  li(class=active): a( href=href, class="nav-link")
      block
 
mixin nav_item_dropdown(href, active)
  li(class=["dropdown", active])
      a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
          span.caret
      ul.dropdown-menu( role="menu" )
          block
 
mixin nav_divider
  ul.navbar-nav
    block
 
mixin nav_header
  li.dropdown-header
      block
mixin alert_message
  if error && error.length>0
    div.alert.alert-danger= error
  if  success && success.length > 0
    div.alert.alert-success=success

mixin login
  .navbar-nav.ml-auto
    if !currentUser
      .nav-item.active
      .user-login
        div
        a.nav-link(href="/login")
            span.far.fa-user Login
        div.signup
          a.nav-link(href="/register")
            span.fas.fa-user-plus Signup
    else
      li(class="active")
        .login-flex
          div
            a( href="/users/#{currentUser._id}", class="nav-link") Welcome #{currentUser.username}
          .user-image
            if currentUser.image
              a.nav-link.logout(href="/logout") Logout
            else
              a.nav-link.logout(href="/logout")
                span.far.fa-user Logout
        
  
body
      +nav("Sport Camp", "sport_nav_dropdown_menu")
        +nav_divider
          +nav_item( "/sports/newSport", "nav-item active" ) Create a new Sport
          +nav_item( "/sports" , "nav-item active" ) All Sports
        +login
          //- if !currentUser
          //-   div
          //-     +nav_item("/login",'nav-item active') Login
          //- else
          //-   div
          //-     +nav_item("#",'nav-item active')=currentUser.username
          //- div
          //-   +nav_item("/logout",'nav-item active') Logout
      +alert_message
        
