extends ../layout.jade


block content
  style(text="css").
    .btn-success{
        margin-top:5px;
    }
    .btn-danger{
      margin:5px;
    }
    .list-group-item{
      margin-top:2px;
    }
    input{
      background-color:none;
    }
  include ../partials/header.jade
  .container
    .jumbotron
      h1.display-4 #{sport.name}
      hr
      .row
        .col-md-6.offset-md-3
          .thumbnail
            img(src = sport.image)
      .row
        .col-md-6.offset-md-3
          .caption
            p #{sport.description}
            .fas.fa-comments
              span= sport.comments.length
            .fas.fa-thumbs-up
              span= sport.likes.length
          a(href = '#{sport._id}/edit').btn.btn-primary Edit Post
      .row
        .col-md-12
          h2 Comments Section
          a(href ="#{sport._id}/comments/new").btn.btn-primary Post Comments
          .d-flex.flex-column
            each comment in sport.comments
              .list-group-item
                p #{comment.text}
                .d-flex.justify-content-start
                  .p-2 By #{comment.author.username}
                .d-flex.justify-content-end
                  .dropdown
                    button(type="button", class="btn btn-secondary dropdown-toggle ml-2 mb-0",  id="commentDropdown", data-toggle="dropdown",aria-haspopup="true",aria-expanded="false") Post Action
                    .dropdown-menu(aria-labelledby="commentDropdown")
                      if currentUser && currentUser.username.length > 0 && currentUser._id.equals(comment.author.id)
                        .dropdown-item
                          a(href="#{sport._id}/comments/#{comment._id}/edit").btn.btn-success Edit Comment
                        .dropdown-item
                          form(action="#{sport._id}/comments/#{comment._id}?_method=DELETE",method="POST" )
                            input(type= "submit",value="delete").btn.btn-danger
                a(href="#{sport._id}/comments/#{comment._id}/replies/new") Add Replies
                each reply in comment.replies
                  .list-group-item
                    .p-2 #{reply.author.username} said: 
                      span #{reply.text}
                    .d-flex.flex-row.justify-content-end
                      div
                        a(href ="#{sport._id}/comments/#{comment._id}/replies/#{reply._id}/edit",style="margin-top:5px").btn.btn-primary Edit Reply
                      div
                        form(action ="/sports/#{sport._id}/comments/#{comment._id}/replies/#{reply._id}?_method=DELETE",method ="POST")
                          input(type="submit",value="Delete Replies").btn.btn-danger
                          
                
                          
                      
                    
                        
                    
